<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">Header Component</a>
   
        
    
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#" routerLink="/home" >Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/products">Inventario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/monitoreo">Monitoreo</a>
            </li>
           
        </ul>
    </div>
</nav>




