
      <li class="border list-unstyled">
        <div class="row">
            <div class="col-1">
            <input type="checkbox" *ngIf="whichRouter != '/monitoreo'"
            (change)="checkBox($event.target.checked)">
            </div>

            <div class="media col">
            <img class="mr-3" src="https://picsum.photos/id/{{product.uid}}/100/100" alt="image">
            <div class="media-body">
                <h5 class="mt-0 mb-1">{{product.nombre}}</h5>
                <p>Precio (MXN): ${{product.precio}}</p>
                <p>marca: {{product.precio}}</p>
                <p>Descripción:  {{product.descripcion}}</p>
                <p>Existencia: {{product.existencia}}</p>
            </div>
            <div class="media-right col-2 mt-3">
                <div class="row">
                <a name="" id="" class="btn btn-primary" href="#" routerLink="{{product.uid}}/edit" role="button" 
                    ><i class="fa fa-edit"></i></a>
                </div>
                <div class="row mt-3">
                <a name="" id="" class="btn btn-primary" href="#" routerLink="/products/{{product.uid}}" (click)="detail()" role="button" 
                ><i class="fa fa-search"></i></a>
                </div>
                <div class="row mt-3" (click)="deletMe(product.uid)">
                <a name="" id="" class="btn btn-danger" href="javascript:void(0);" click="func(0)" role="button"><i
                    class="fa fa-trash" ></i></a>
                </div>
            </div>
            </div>
        </div>


        </li>
    
