<p>product-detail works!</p>


<div class="row">
    <div class="col-1">
    
    </div>

    <div class="media col">
    <img class="mr-3" src="https://picsum.photos/id/{{product.uid}}/100/100" alt="Generic placeholder image">
    <div class="media-body">
        <h5 class="mt-0 mb-1">{{product.nombre}}</h5>
        <p>Precio (MXN): $ {{product.precio}}</p>
        <p>marca:  {{product.marca}}</p>
        <p>Descripción:  {{product.descripcion}}</p>
        <p>Existencia: {{product.existencia}}</p>
    
    
    </div>
    
</div>
<table class="table mt-3">
    <thead>
        <tr>
            <th>Atributo</th>
            <th>Valor</th>
            <th>Unidad</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let attribute of product.especificacion">

            <td scope="row" >{{attribute.atributo}}</td>
            <td>{{attribute.valor}}</td>
            <td>{{attribute.unidad}}</td>
            
        </tr>
    </tbody>
</table>

